#define CONFIG_SPI_FLASH_WINBOND 1
#define CONFIG_SYS_MMCSD_FS_BOOT_PARTITION 1
#define CONFIG_CMD_FAT 1
#define CONFIG_SPL_DM_SERIAL 1
#define CONFIG_BOOTM_NETBSD 1
#define CONFIG_CMD_FDT 1
#define CONFIG_OMAP_SERIAL 1
#define CONFIG_USB_GADGET_DOWNLOAD 1
#define CONFIG_CMD_ITEST 1
#define CONFIG_BOOTM_VXWORKS 1
#define CONFIG_TPL_BOOTSTAGE_RECORD_COUNT 5
#define CONFIG_POWER_TPS65217 
#define CONFIG_CMD_EDITENV 1
#define CONFIG_SPL_SPRINTF 1
#define CONFIG_EFI_PLATFORM_LANG_CODES "en-US"
#define CONFIG_CMD_BOOTP 1
#define CONFIG_CMD_PART 1
#define CONFIG_MISC 1
#define CONFIG_DFU_OVER_USB 1
#define CONFIG_BOOTCOUNT_LIMIT 1
#define CONFIG_SPL_LOGLEVEL 4
#define CONFIG_SPL_CRC32_SUPPORT 1
#define CONFIG_HAS_VBAR 1
#define CONFIG_CMD_ENV_EXISTS 1
#define CONFIG_VERSION_VARIABLE 1
#define CONFIG_CMD_CRC32 1
#define CONFIG_SF_DEFAULT_MODE 0x3
#define CONFIG_SYS_LONGHELP 1
#define CONFIG_SYS_MPUCLK 500
#define CONFIG_SPL_NET_SUPPORT 1
#define CONFIG_IS_MODULE(option) config_enabled(CONFIG_VAL(option ##_MODULE))
#define CONFIG_RSA_SOFTWARE_EXP 1
#define CONFIG_SYS_LOAD_ADDR 0x82000000
#define CONFIG_FASTBOOT_BUF_SIZE 0x7000000
#define CONFIG_HASH 1
#define CONFIG_USE_ARCH_MEMSET 1
#define CONFIG_DISPLAY_BOARDINFO 1
#define CONFIG_CMD_XIMG 1
#define CONFIG_EXPERT 1
#define CONFIG_CMDLINE 1
#define CONFIG_BOOTDELAY 2
#define CONFIG_CMD_BOOTEFI 1
#define CONFIG_ARCH_OMAP2PLUS 1
#define CONFIG_SPI_FLASH 1
#define CONFIG_SYS_HELP_CMD_WIDTH 10
#define CONFIG_SPL_FS_FAT 1
#define CONFIG_NR_DRAM_BANKS 4
#define CONFIG_EFI_PARTITION 1
#define CONFIG_SPL_SEPARATE_BSS 1
#define CONFIG_FS_FAT 1
#define CONFIG_SYS_ARM_CACHE_CP15 1
#define CONFIG_BOOTM_RTEMS 1
#define CONFIG_SYS_CBSIZE 1024
#define CONFIG_SKIP_LOWLEVEL_INIT 
#define CONFIG_ISW_ENTRY_ADDR 0x402F0400
#define CONFIG_DM_I2C 1
#define CONFIG_SYS_SPL_MALLOC_SIZE SZ_8M
#define CONFIG_MD5 1
#define CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR 0x300
#define CONFIG_BOOTM_LINUX 1
#define CONFIG_USB_MUSB_HOST 1
#define CONFIG_BOOTP_SEND_HOSTNAME 
#define CONFIG_DEFAULT_FDT_FILE ""
#define CONFIG_BOARD_LATE_INIT 1
#define CONFIG_CREATE_ARCH_SYMLINK 1
#define CONFIG_CMD_CONSOLE 1
#define CONFIG_SUPPORT_OF_CONTROL 1
#define CONFIG_SPL_STRTO 1
#define CONFIG_BLK 1
#define CONFIG_SYS_CPU "armv7"
#define CONFIG_MII 1
#define CONFIG_SPL_BOARD_INIT 1
#define CONFIG_SPL_STACK_R_ADDR 0x82000000
#define CONFIG_BOOTP_PXE_CLIENTARCH 0x15
#define CONFIG_SPL_YMODEM_SUPPORT 1
#define CONFIG_BOOTP_GATEWAY 1
#define CONFIG_SYS_THUMB_BUILD 1
#define CONFIG_SYS_CACHELINE_SIZE 64
#define CONFIG_MMC 1
#define CONFIG_DM_ETH 1
#define CONFIG_SYS_SPL_ARGS_ADDR (CONFIG_SYS_SDRAM_BASE + (128 << 20))
#define CONFIG_SPL_OS_BOOT 1
#define CONFIG_SMBIOS_PRODUCT_NAME "am335x"
#define CONFIG_CMD_MISC 1
#define CONFIG_SYS_XTRACE "y"
#define CONFIG_FIT 1
#define CONFIG_TI_I2C_BOARD_DETECT 1
#define CONFIG_SPL_LIBCOMMON_SUPPORT 1
#define CONFIG_PHY_GIGE 1
#define CONFIG_ENV_OFFSET 0x260000
#define CONFIG_DISTRO_DEFAULTS 1
#define CONFIG_DM_DEVICE_REMOVE 1
#define CONFIG_MMC_WRITE 1
#define CONFIG_ENV_OVERWRITE 
#define CONFIG_CMD_NET 1
#define CONFIG_SPL_SIZE_LIMIT 0
#define CONFIG_TIMER 1
#define CONFIG_USB_GADGET_VBUS_DRAW 2
#define CONFIG_CMD_NFS 1
#define CONFIG_SPL_SYS_THUMB_BUILD 1
#define CONFIG_ENV_SIZE 0x20000
#define CONFIG_SUPPORT_RAW_INITRD 1
#define CONFIG_CMD_FS_GENERIC 1
#define CONFIG_CMD_PING 1
#define CONFIG_ARM_CORTEX_A8_CVE_2017_5715 1
#define CONFIG_AM33XX 1
#define CONFIG_SYS_MALLOC_LEN SZ_32M
#define CONFIG_ZYNQ_GEM_I2C_MAC_OFFSET 0x0
#define CONFIG_USBNET_HOST_ADDR "de:ad:be:ef:00:00"
#define CONFIG_DEFAULT_SPI_BUS 0
#define CONFIG_INITRD_TAG 
#define CONFIG_SYS_MMC_ENV_DEV 1
#define CONFIG_USB_MUSB_TI 1
#define CONFIG_SPL_LIBDISK_SUPPORT 1
#define CONFIG_LOCALVERSION ""
#define CONFIG_EEPROM_CHIP_ADDRESS 0x50
#define CONFIG_SYS_BOOTM_LEN SZ_16M
#define CONFIG_SYS_TEXT_BASE 0x80800000
#define CONFIG_CC_OPTIMIZE_FOR_SIZE 1
#define CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR 1
#define CONFIG_REGEX 1
#define CONFIG_EFI_PARTITION_ENTRIES_NUMBERS 128
#define CONFIG_SYS_CONFIG_NAME "am335x_evm"
#define CONFIG_SPL_SYS_MALLOC_SIMPLE 1
#define CONFIG_BOOTSTAGE_RECORD_COUNT 30
#define CONFIG_SPL_FS_LOAD_ARGS_NAME "args"
#define CONFIG_SPL_AM33XX_ENABLE_RTC32K_OSC 1
#define CONFIG_CMD_SAVEENV 1
#define CONFIG_SYS_MMCSD_RAW_MODE_ARGS_SECTOR 0x1500
#define CONFIG_MKIMAGE_DTC_PATH "dtc"
#define CONFIG_SYS_ARM_MMU 1
#define CONFIG_CMD_NVEDIT_EFI 1
#define CONFIG_ENV_SECT_SIZE 0x20000
#define CONFIG_SYS_BARGSIZE CONFIG_SYS_CBSIZE
#define CONFIG_BOOTM_PLAN9 1
#define CONFIG_CLOCK_SYNTHESIZER 
#define CONFIG_IS_BUILTIN(option) config_enabled(CONFIG_VAL(option))
#define CONFIG_SPL_TEXT_BASE 0x402F0400
#define CONFIG_EFI_UNICODE_COLLATION_PROTOCOL2 1
#define CONFIG_SERIAL_PRESENT 1
#define CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN 0x100000
#define CONFIG_USB_MUSB_PIO_ONLY 1
#define CONFIG_DM_MMC 1
#define CONFIG_SYS_CONSOLE_INFO_QUIET 1
#define CONFIG_SPL_FS_EXT4 1
#define CONFIG_SPL_EFI_PARTITION 1
#define CONFIG_FIT_ENABLE_SHA256_SUPPORT 1
#define CONFIG_BUILD_TARGET ""
#define CONFIG_CMD_GPT 1
#define CONFIG_ANDROID_BOOT_IMAGE 1
#define CONFIG_PUB_ROM_DATA_SIZE 0x8400
#define CONFIG_USB_MUSB_GADGET 1
#define CONFIG_USB_ETHER 1
#define CONFIG_SYS_OMAP24_I2C_SPEED 100000
#define CONFIG_AUTOBOOT_DELAY_STR "d"
#define CONFIG_DM_DEV_READ_INLINE 1
#define CONFIG_SF_DEFAULT_BUS 0
#define CONFIG_DM_WARN 1
#define CONFIG_BOOTP_DNS 1
#define CONFIG_SYS_CACHE_SHIFT_6 1
#define CONFIG_CMD_MEMORY 1
#define CONFIG_SYS_MAXARGS 64
#define CONFIG_SYS_BOOTCOUNT_ADDR 0x44E3E000
#define CONFIG_DM_USB_GADGET 1
#define CONFIG_MMC_HW_PARTITIONING 1
#define CONFIG_SUPPORT_SPL 1
#define CONFIG_CMD_RUN 1
#define CONFIG_SYS_PBSIZE (CONFIG_SYS_CBSIZE + sizeof(CONFIG_SYS_PROMPT) + 16)
#define CONFIG_ENV_VARS_UBOOT_CONFIG 1
#define CONFIG_SPL_SYS_STACK_F_CHECK_BYTE 0xaa
#define CONFIG_DM_SPI_FLASH 1
#define CONFIG_USB 1
#define CONFIG_BOOTP_HOSTNAME 1
#define CONFIG_BOARDDIR board/ti/am335x
#define CONFIG_SYS_BOOTCOUNT_BE 
#define CONFIG_TPL_LOGLEVEL 4
#define CONFIG_SPL_LEGACY_IMAGE_SUPPORT 1
#define CONFIG_CPU_V7A 1
#define CONFIG_SPL_BOOTSTAGE_RECORD_COUNT 5
#define CONFIG_OMAP3_SPI 1
#define CONFIG_FIT_SIGNATURE 1
#define CONFIG_NET 1
#define CONFIG_BLOCK_CACHE 1
#define CONFIG_AUTOBOOT_PROMPT "Press SPACE to abort autoboot in %d seconds\n"
#define CONFIG_OF_LIBFDT 1
#define CONFIG_TFTP_BLOCKSIZE 512
#define CONFIG_PHYLIB 1
#define CONFIG_GENERATE_SMBIOS_TABLE 1
#define CONFIG_CMD_SPL_WRITE_SIZE 0x2000
#define CONFIG_CMDLINE_EDITING 1
#define CONFIG_CMD_USB 1
#define CONFIG_DM_SERIAL 1
#define CONFIG_FIT_SIGNATURE_MAX_SIZE 0x10000000
#define CONFIG_ENV_OFFSET_REDUND (CONFIG_ENV_OFFSET + CONFIG_ENV_SIZE)
#define CONFIG_CMD_EXT2 1
#define CONFIG_CMD_EXT4 1
#define CONFIG_BOOTCOMMAND "if test ${boot_fit} -eq 1; then run update_to_fit; fi; run findfdt; run init_console; run envboot; run distro_bootcmd"
#define CONFIG_ARCH_FIXUP_FDT_MEMORY 1
#define CONFIG_USB_GADGET_VENDOR_NUM 0x0451
#define CONFIG_SPL_USB_GADGET 1
#define CONFIG_TIMESTAMP 
#define CONFIG_SPL_I2C_SUPPORT 1
#define CONFIG_MAX_RAM_BANK_SIZE (1024 << 20)
#define CONFIG_ISO_PARTITION 1
#define CONFIG_SYS_MALLOC_CLEAR_ON_INIT 1
#define CONFIG_NET_RETRY_COUNT 10
#define CONFIG_CMD_EEPROM 1
#define CONFIG_SYS_EXTRA_OPTIONS "EMMC_BOOT"
#define CONFIG_CMD_RANDOM 1
#define CONFIG_CMD_DFU 1
#define CONFIG_EEPROM_BUS_ADDRESS 0
#define CONFIG_SPL_GPIO_SUPPORT 1
#define CONFIG_CMD_BOOTEFI_HELLO_COMPILE 1
#define CONFIG_HUSH_PARSER 1
#define CONFIG_CMD_DM 1
#define CONFIG_BOOTP_VCI_STRING "U-Boot.armv7"
#define CONFIG_DM 1
#define CONFIG_ZLIB 1
#define CONFIG_USB_GADGET_DUALSPEED 1
#define CONFIG_LIB_UUID 1
#define CONFIG_BOOTP_DNS2 
#define CONFIG_SYS_I2C_OMAP24XX 1
#define CONFIG_CMD_GO 1
#define CONFIG_CMD_BOOTD 1
#define CONFIG_CMD_BOOTM 1
#define CONFIG_EFI_LOADER_HII 1
#define CONFIG_CMD_BOOTZ 1
#define CONFIG_SYS_NS16550 1
#define CONFIG_SYS_MALLOC_F 1
#define CONFIG_AUTO_COMPLETE 1
#define CONFIG_SPI_FLASH_USE_4K_SECTORS 1
#define CONFIG_SPRINTF 1
#define CONFIG_OMAP_TIMER 1
#define CONFIG_SYS_SOC "am33xx"
#define CONFIG_ENV_IS_IN_MMC 1
#define CONFIG_SYS_HZ 1000
#define CONFIG_SYS_MALLOC_F_LEN 0x1000
#define CONFIG_SYS_NS16550_CLK 48000000
#define CONFIG_SPL_DM_USB 1
#define CONFIG_DOS_PARTITION 1
#define CONFIG_GZIP 1
#define CONFIG_SYS_VENDOR "ti"
#define CONFIG_DFU_MMC 1
#define CONFIG_MMC_OMAP_HS 1
#define CONFIG_SYS_MMCSD_RAW_MODE_ARGS_SECTORS 0x200
#define CONFIG_DM_USB 1
#define CONFIG_CMD_SF 1
#define CONFIG_REQUIRE_SERIAL_CONSOLE 1
#define CONFIG_IDENT_STRING ""
#define CONFIG_RSA 1
#define CONFIG_SPL_PRINTF 1
#define CONFIG_ENV_IS_IN_FAT 1
#define CONFIG_SYS_BOOTCOUNT_MAGIC 0xB001C041
#define CONFIG_PRINTF 1
#define CONFIG_SYS_BAUDRATE_TABLE { 9600, 19200, 38400, 57600, 115200 }
#define CONFIG_SYS_NS16550_COM1 0x44e09000
#define CONFIG_SYS_NS16550_COM2 0x48022000
#define CONFIG_SYS_NS16550_COM3 0x48024000
#define CONFIG_SYS_NS16550_COM4 0x481a6000
#define CONFIG_SYS_NS16550_COM5 0x481a8000
#define CONFIG_SYS_NS16550_COM6 0x481aa000
#define CONFIG_ENV_FAT_DEVICE_AND_PART "0:1"
#define CONFIG_VAL(option) config_val(option)
#define CONFIG_SPL_LIBGENERIC_SUPPORT 1
#define CONFIG_TARGET_AM335X_EVM 1
#define CONFIG_DM_STDIO 1
#define CONFIG_LOCALVERSION_AUTO 1
#define CONFIG_SPL_DM_USB_GADGET 1
#define CONFIG_SPL_MMC_SUPPORT 1
#define CONFIG_ENV_FAT_INTERFACE "mmc"
#define CONFIG_FASTBOOT_USB_DEV 0
#define CONFIG_SYS_SDRAM_BASE 0x80000000
#define CONFIG_DRIVER_TI_CPSW 1
#define CONFIG_ARCH_MISC_INIT 1
#define CONFIG_SYS_BOOT_RAMDISK_HIGH 
#define CONFIG_MMC_VERBOSE 1
#define CONFIG_USB_MUSB_DISABLE_BULK_COMBINE_SPLIT 1
#define CONFIG_PHY_ATHEROS 
#define CONFIG_FASTBOOT_BUF_ADDR 0x81000000
#define CONFIG_NET_TFTP_VARS 1
#define CONFIG_SPL_LDSCRIPT "arch/arm/mach-omap2/u-boot-spl.lds"
#define CONFIG_USE_PRIVATE_LIBGCC 1
#define CONFIG_CMD_SPI 1
#define CONFIG_CMD_SPL 1
#define CONFIG_USE_TINY_PRINTF 1
#define CONFIG_PHY_SMSC 
#define CONFIG_AM335X_USB0 
#define CONFIG_AM335X_USB1 
#define CONFIG_CMD_DHCP 1
#define CONFIG_SPL_SERIAL_SUPPORT 1
#define CONFIG_ENV_FAT_FILE "uboot.env"
#define CONFIG_CMD_ECHO 1
#define CONFIG_STRTO 1
#define CONFIG_SYS_SPL_MALLOC_START (CONFIG_SPL_BSS_START_ADDR + CONFIG_SPL_BSS_MAX_SIZE)
#define CONFIG_FAT_WRITE 1
#define CONFIG_SYS_TIMERBASE 0x48040000
#define CONFIG_SPL_WATCHDOG_SUPPORT 1
#define CONFIG_SPL_IMAGE "spl/u-boot-spl.bin"
#define CONFIG_CMD_TIME 1
#define CONFIG_USE_ARCH_MEMCPY 1
#define CONFIG_DFU 1
#define CONFIG_SPL_DM 1
#define CONFIG_SPL_BSS_MAX_SIZE 0x80000
#define CONFIG_SPL_FS_LOAD_KERNEL_NAME "uImage"
#define CONFIG_SPL_BSS_START_ADDR 0x80a00000
#define CONFIG_SPL_PAD_TO CONFIG_SPL_MAX_SIZE
#define CONFIG_DEFAULT_SPI_MODE 0x0
#define CONFIG_OF_CONTROL 1
#define CONFIG_EXTRA_ENV_SETTINGS DEFAULT_LINUX_BOOT_ENV DEFAULT_MMC_TI_ARGS DEFAULT_FIT_TI_ARGS "bootpart=0:2\0" "bootdir=/boot\0" "bootfile=zImage\0" "fdtfile=undefined\0" "console=ttyO0,115200n8\0" "partitions=" "uuid_disk=${uuid_gpt_disk};" "name=bootloader,start=384K,size=1792K," "uuid=${uuid_gpt_bootloader};" "name=rootfs,start=2688K,size=-,uuid=${uuid_gpt_rootfs}\0" "optargs=\0" "ramroot=/dev/ram0 rw\0" "ramrootfstype=ext2\0" "spiroot=/dev/mtdblock4 rw\0" "spirootfstype=jffs2\0" "spisrcaddr=0xe0000\0" "spiimgsize=0x362000\0" "spibusno=0\0" "spiargs=setenv bootargs console=${console} " "${optargs} " "root=${spiroot} " "rootfstype=${spirootfstype}\0" "ramargs=setenv bootargs console=${console} " "${optargs} " "root=${ramroot} " "rootfstype=${ramrootfstype}\0" "loadramdisk=load mmc ${mmcdev} ${rdaddr} ramdisk.gz\0" "spiboot=echo Booting from spi ...; " "run spiargs; " "sf probe ${spibusno}:0; " "sf read ${loadaddr} ${spisrcaddr} ${spiimgsize}; " "bootz ${loadaddr}\0" "ramboot=echo Booting from ramdisk ...; " "run ramargs; " "bootz ${loadaddr} ${rdaddr} ${fdtaddr}\0" "findfdt=" "if test $board_name = A335BONE; then " "setenv fdtfile am335x-bone.dtb; fi; " "if test $board_name = A335BNLT; then " "setenv fdtfile am335x-boneblack.dtb; fi; " "if test $board_name = A335PBGL; then " "setenv fdtfile am335x-pocketbeagle.dtb; fi; " "if test $board_name = BBBW; then " "setenv fdtfile am335x-boneblack-wireless.dtb; fi; " "if test $board_name = BBG1; then " "setenv fdtfile am335x-bonegreen.dtb; fi; " "if test $board_name = BBGW; then " "setenv fdtfile am335x-bonegreen-wireless.dtb; fi; " "if test $board_name = BBBL; then " "setenv fdtfile am335x-boneblue.dtb; fi; " "if test $board_name = BBEN; then " "setenv fdtfile am335x-sancloud-bbe.dtb; fi; " "if test $board_name = A33515BB; then " "setenv fdtfile am335x-evm.dtb; fi; " "if test $board_name = A335X_SK; then " "setenv fdtfile am335x-evmsk.dtb; fi; " "if test $board_name = A335_ICE; then " "setenv fdtfile am335x-icev2.dtb; fi; " "if test $fdtfile = undefined; then " "echo WARNING: Could not determine device tree to use; fi; \0" "init_console=" "if test $board_name = A335_ICE; then " "setenv console ttyO3,115200n8;" "else " "setenv console ttyO0,115200n8;" "fi;\0" NANDARGS NETARGS DFUARGS BOOTENV
#define CONFIG_EFI_PARTITION_ENTRIES_OFF 0
#define CONFIG_BOOTP_PXE 1
#define CONFIG_INPUT 1
#define CONFIG_CMD_FASTBOOT 1
#define CONFIG_HAS_THUMB2 1
#define CONFIG_SYS_INIT_SP_ADDR (NON_SECURE_SRAM_END - GENERATED_GBL_DATA_SIZE)
#define CONFIG_FIT_EXTERNAL_OFFSET 0x0
#define CONFIG_SPI_MEM 1
#define CONFIG_SYS_ARCH "arm"
#define CONFIG_CMD_ASKENV 1
#define CONFIG_BAUDRATE 115200
#define CONFIG_SPL_PARTITION_UUIDS 1
#define CONFIG_SYS_I2C_EEPROM_ADDR_LEN 2
#define CONFIG_SYS_BOARD "am335x"
#define CONFIG_PARTITION_UUIDS 1
#define CONFIG_FASTBOOT 1
#define CONFIG_TI_COMMON_CMD_OPTIONS 1
#define CONFIG_DM_GPIO 1
#define CONFIG_SYS_PTV 2
#define CONFIG_DTC 1
#define CONFIG_CMDLINE_TAG 
#define CONFIG_SYS_ARM_ARCH 7
#define CONFIG_BOOTSTAGE_STASH_SIZE 0x1000
#define CONFIG_SYS_MMC_MAX_DEVICE 2
#define CONFIG_HEXDUMP 1
#define CONFIG_OF_LIBFDT_OVERLAY 1
#define CONFIG_ENV_EEPROM_IS_ON_I2C 
#define CONFIG_AUTOBOOT_STOP_STR " "
#define CONFIG_BOOTCOUNT_BOOTLIMIT 0
#define CONFIG_CMD_IMPORTENV 1
#define CONFIG_MMC_QUIRKS 1
#define CONFIG_HAVE_PRIVATE_LIBGCC 1
#define CONFIG_SPL_ENV_IS_IN_MMC 1
#define CONFIG_CMD_EXPORTENV 1
#define CONFIG_PARTITIONS 1
#define CONFIG_SPL_DOS_PARTITION 1
#define CONFIG_OMAP_GPIO 1
#define CONFIG_OF_TRANSLATE 1
#define CONFIG_BOOTCOUNT_AM33XX 1
#define CONFIG_SPL_STACK_R 1
#define CONFIG_CMD_I2C 1
#define CONFIG_FIT_VERBOSE 1
#define CONFIG_ARCH_CPU_INIT 1
#define CONFIG_SYS_MMC_ENV_PART 0
#define CONFIG_EFI_GRUB_ARM32_WORKAROUND 1
#define CONFIG_SPL_NET_VCI_STRING "AM33xx U-Boot SPL"
#define CONFIG_CMD_ELF 1
#define CONFIG_SPL_ENV_IS_IN_FAT 1
#define CONFIG_EFI_LOADER 1
#define CONFIG_USB_MUSB_DSPS 1
#define CONFIG_SMBIOS_MANUFACTURER "ti"
#define CONFIG_RANDOM_UUID 1
#define CONFIG_DM_SEQ_ALIAS 1
#define CONFIG_FS_EXT4 1
#define CONFIG_SPL_MAX_SIZE (SRAM_SCRATCH_SPACE_ADDR - CONFIG_SPL_TEXT_BASE)
#define CONFIG_MACH_TYPE MACH_TYPE_AM335XEVM
#define CONFIG_POWER_TPS65910 
#define CONFIG_SPL_FRAMEWORK 1
#define CONFIG_BOOTSTAGE_STASH_ADDR 0x0
#define CONFIG_USB_ETH_RNDIS 1
#define CONFIG_SPI 1
#define CONFIG_EFI_DEVICE_PATH_TO_TEXT 1
#define CONFIG_SPL 1
#define CONFIG_SPL_ENV_SUPPORT 1
#define CONFIG_CMD_SOURCE 1
#define CONFIG_SYS_PROMPT "=> "
#define CONFIG_BOOTP_BOOTPATH 1
#define CONFIG_USB_STORAGE 1
#define CONFIG_CMD_PXE 1
#define CONFIG_AM335X_USB0_MODE MUSB_PERIPHERAL
#define CONFIG_DISPLAY_CPUINFO 1
#define CONFIG_LOGLEVEL 4
#define CONFIG_SYS_REDUNDAND_ENVIRONMENT 
#define CONFIG_SHA1 1
#define CONFIG_SETUP_MEMORY_TAGS 
#define CONFIG_DFU_RAM 1
#define CONFIG_EXT4_WRITE 1
#define CONFIG_SYS_I2C_EEPROM_ADDR 0x50
#define CONFIG_SPL_SYS_MALLOC_F_LEN 0x1000
#define CONFIG_CMD_LOADB 1
#define CONFIG_CMD_LOADS 1
#define CONFIG_FS_FAT_MAX_CLUSTSIZE 65536
#define CONFIG_USE_BOOTCOMMAND 1
#define CONFIG_CMD_IMI 1
#define CONFIG_SPL_PAYLOAD "u-boot.bin"
#define CONFIG_CMD_EXT4_WRITE 1
#define CONFIG_SF_DEFAULT_SPEED 24000000
#define CONFIG_CONS_INDEX 1
#define CONFIG_LMB 
#define CONFIG_AUTOBOOT 1
#define CONFIG_SPL_BANNER_PRINT 1
#define CONFIG_ARM 1
#define CONFIG_SYS_OMAP24_I2C_SLAVE 1
#define CONFIG_EMMC_BOOT 1
#define CONFIG_HAVE_BLOCK_DEVICE 1
#define CONFIG_SYS_MAX_FLASH_SECT 512
#define CONFIG_IS_ENABLED(option) (config_enabled(CONFIG_VAL(option)) || config_enabled(CONFIG_VAL(option ##_MODULE)))
#define CONFIG_EFI_UNICODE_CAPITALIZATION 1
#define CONFIG_AUTOBOOT_KEYED 1
#define CONFIG_CMD_BLOCK_CACHE 1
#define CONFIG_LOG_DEFAULT_LEVEL 6
#define CONFIG_OF_SEPARATE 1
#define CONFIG_CMD_GPIO 1
#define CONFIG_CMD_BDI 1
#define CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG 1
#define CONFIG_SYS_MMCSD_RAW_MODE_KERNEL_SECTOR 0x1700
#define CONFIG_SHA256 1
#define CONFIG_BOOTP_SUBNETMASK 1
#define CONFIG_AM335X_USB1_MODE MUSB_HOST
#define CONFIG_LZO 1
#define CONFIG_MENU 1
#define CONFIG_NETDEVICES 1
#define CONFIG_DEFAULT_DEVICE_TREE "am335x-boneblack"
#define CONFIG_USBNET_DEVADDR "de:ad:be:ef:00:01"
#define CONFIG_SPL_RAW_IMAGE_SUPPORT 1
#define CONFIG_SPL_MUSB_NEW_SUPPORT 1
#define CONFIG_USB_FUNCTION_FASTBOOT 1
#define CONFIG_USB_GADGET_MANUFACTURER "Texas Instruments"
#define CONFIG_CMD_MII 1
#define CONFIG_USB_GADGET 1
#define CONFIG_LIB_RAND 1
#define CONFIG_SIMPLE_BUS 1
#define CONFIG_SPL_WDT 1
#define CONFIG_USB_GADGET_PRODUCT_NUM 0xd022
#define CONFIG_ARM_ASM_UNIFIED 1
#define CONFIG_CMD_MMC 1
#define CONFIG_SPL_POWER_SUPPORT 1
#define CONFIG_CMD_TFTPBOOT 1
#define CONFIG_SPL_DM_SEQ_ALIAS 1
#define CONFIG_SF_DEFAULT_CS 0
#define CONFIG_SPL_USB_ETHER 1
#define CONFIG_SPECIFY_CONSOLE_INDEX 1
#define CONFIG_DM_SPI 1
#define CONFIG_SPL_OF_LIBFDT 1
#define CONFIG_SYS_I2C_BUS_MAX 3
#define CONFIG_SPL_SERIAL_PRESENT 1
#define CONFIG_SPL_FS_LOAD_PAYLOAD_NAME "u-boot.img"
