/*
 * Custom additions for a Beaglebone board to enable i2c1
 * abd use it with external devices
 */

#include "am335x-boneblack.dts"

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/am33xx.h>
#include <dt-bindings/pinctrl/omap.h>

/*
 * P9 pin 23 external user led
 */
/ {
	leds {
		anisyan_led {
			label = "anisyan_led";
			gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

/*
 * P9 pin 17 - I2C1_SCL
 * P9 pin 18 - I2C1_SDA
 */
&am33xx_pinmux {
	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(AM335X_PIN_SPI0_D1, PIN_INPUT_PULLUP | MUX_MODE2)
			AM33XX_IOPAD(AM335X_PIN_SPI0_CS0, PIN_INPUT_PULLUP | MUX_MODE2)
		>;
	};
};


/* enable i2c1 device, because we use it bus for external i2c devices */
&i2c1 {
	inctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
	status = "okay";

	/*
	 * i2c slave address (from 7 to 1 bit) = 0x68
	 * 0 bit = 0 --> write operation
	 * 0 bit = 1 --> read operation
	 */
	rtc_ds3231: ds3231@68 {
		compatible = "dallas,ds3231";
		#address-cell = <1>;
		#size-cell = <0>;
		reg = <0x68>;
	};
};
